.background-image {
    background-image: url('/assets/images/projects/home_away_from_home/thumbnail.jpg') !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.tagline-container {
    height: 30vh !important;
    align-items: center;
}

.featured-projects {
    background-color: rgb(24, 24, 24) !important;
}

#footer-placeholder, #header-placeholder {
    color: white;
}

.content-separator {
    margin: 30px 0;
    border-bottom: 3px solid grey;
    width: 20%;
    align-self: center;
}

.content-image {
    width: 60% !important;
    align-self: center !important;
}

.content-section {
    margin: 30px 0;

    .content-desc {
        margin-top: 20px;
    }

    .li-title {
        font-weight: bold;
    }
}

.li {
    margin: 20px 0;
}