<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Away from Home Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/UX_Portfolio/assets/css/index.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<body>
    <div>
        <img src="/UX_Portfolio/assets/images/projects/home_away_from_home/thumbnail.jpg" alt="project-image" class="card-image">
        <div class="card-body">
            <h4 class="card-title">Home away from Home</h5>
            <p class="card-subtitle">UX Research, Strategic Recommendations</p>
            <p class="card-text">Enhancing Experiences: A UX Research Journey into On-Campus Housing for International Students.</p>
            <a href="/UX_Portfolio/components/projects/home_away_from_home.html" target="_blank" class="btn btn-secondary">View Project</a>
        </div>
    </div>
</body>
</html>