.navbar-container {
    display: flex;
}

.nav-bi {
    color: white;
    margin: 0 1rem;
}

.brand {
    .brand-bi {
        font-size: 36px;
    }
}


.icons {
    display: flex;
}

.nav-link {
    margin: 0 20px;
}

.custom-navbar {
    background-color: black;
}