.background-image {
    background-image: url('/UX_Portfolio/assets/images/background.jpg') !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.tagline-container {
    height: 30vh !important;
    align-items: center;
}

.featured-projects {
    background-color: rgb(24, 24, 24) !important;
}

