<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/UX_Portfolio/assets/css/index.css">
    <link rel="stylesheet" href="/UX_Portfolio/assets/css/header.css">
    <link rel="stylesheet" href="/UX_Portfolio/assets/css/footer.css">
    <link rel="stylesheet" href="/UX_Portfolio/assets/css/projects/drinks_menu.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/UX_Portfolio/UX_Portfolio/assets/js/script.js"></script>

<body>
    <div class="background-image"></div>
    <div class="overlay"></div>

    <!-- Placeholder for Header -->
    <div id="header-placeholder"></div>

    <!-- Tagline Container -->
    <div class="section tagline-container">
        <div class="tagline">India Rosa Drinks Menu</div>
        <div class="breadcrumb">
            <a href="/index.html" class="bread inactive-bread">Home</a>
            <p class="separator">&#10095;</p>
            <a href="/UX_Portfolio/UX_Portfolio/components/projects.html" class="bread inactive-bread">Projects</a>
            <p class="separator">&#10095;</p>
            <a href="#" class="bread active-bread">India Rosa Drinks Menu</a>
        </div>
    </div>

    <div class="section content">

        <img src="/UX_Portfolio/assets/images/projects/drinks_menu/main-image.jpg" alt="mood_board" class="main-image content-image">

        <div class="content-separator"></div>

        <div class="content-section">
            <h2 class="content-titles">Overview</h2>
            <p class="content-desc">"A creative menu redesign for India Rosa, blending traditional Indian aesthetics
                with modern elegance. This project focused on typography, layout design, and visual storytelling to
                encapsulate the cultural richness and sophistication of the brand."</p>
        </div>

        <div class="content-separator"></div>

        <div class="content-section">
            <h2 class="content-titles">Mood Board</h2>
            <p class="content-desc">The mood board was inspired by:</p>
            <div class="content-list">
                <ol type="1">
                    <li>
                        <strong>Color Palette: </strong> Deep brown, gold, red, and teal green to convey warmth, luxury,
                        and vibrancy.
                    </li>
                    <li>
                        <strong>Cultural Motifs: </strong>Indian elements like lotus flowers, henna patterns, and
                        elephants for a distinct cultural identity.
                    </li>
                    <li>
                        <strong>Typography: </strong> Elegant serif and modern sans-serif pairings to balance tradition
                        with readability.
                    </li>
                </ol>
            </div>
        </div>

        <img src="/UX_Portfolio/assets/images/projects/drinks_menu/mood-board.png" alt="mood_board" class="mood-board content-image">

        <div class="content-separator"></div>

        <div class="content-section">
            <h2 class="content-titles">Key Features of the Design</h2>
            <div class="content-list">
                <ol type="1">
                    <li class="li">
                        <p class="li-title">Typography:</p>
                        <ul>
                            <li class="li-text">Developed a clear hierarchy with bold serif fonts for titles (e.g.,
                                "India Rosa Drinks Menu") and clean sans-serif fonts for details.</li>
                            <li class="li-text">Custom typographic style for “An achievement of the Sandhu family,”
                                ensuring visual alignment with the brand identity.</li>
                        </ul>
                    </li>
                    <li class="li">
                        <p class="li-title">Illustration and Layout:</p>
                        <ul>
                            <li class="li-text">Integrated custom illustrations of traditional Indian women in vibrant
                                attire, paired with cocktail visuals to link heritage with the restaurant's offerings.
                            </li>
                            <li class="li-text">Used intricate mandala designs as subtle background elements for an
                                elegant touch.</li>
                        </ul>
                    </li>
                    <li class="li">
                        <p class="li-title">Menu Structure:</p>
                        <ul>
                            <li class="li-text">Organized sections for readability while maintaining visual richness.
                            </li>
                            <li class="li-text">Highlighted drinks with creative names, ingredient descriptions, and
                                tiered pricing for a luxurious feel.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="content-separator"></div>

        <div class="content-section">
            <h2 class="content-titles">Challenges Met</h2>
            <div class="content-list">
                <ul>
                    <li class="li-text">Balancing intricate patterns and vibrant illustrations without overwhelming the
                        layout.</li>
                    <li class="li-text">Ensuring typography and design align with both Indian cultural elements and the
                        modern, upscale branding of India Rosa.</li>
                </ul>
            </div>
        </div>

        <div class="content-separator"></div>

        <div class="content-section">
            <h2 class="content-titles">Outcome</h2>
            <p class="content-desc">"Successfully redesigned the menu to reflect India Rosa's brand identity, creating a
                sophisticated dining experience that resonates with its target audience while celebrating cultural
                heritage."</p>
        </div>

        <div class="content-separator"></div>

        <div class="images">
            <img class="content-image" src="/UX_Portfolio/assets/images/projects/drinks_menu/menu-outside.png" alt="overview">
            <img class="content-image" src="/UX_Portfolio/assets/images/projects/drinks_menu/menu-inside.png" alt="overview">
        </div>
    </div>

    <!-- Placeholder for Footer -->
    <div id="footer-placeholder"></div>
</body>

</html>